*{
  padding: 0;
  margin: 0;
}
#Heading{
    font-size: 35px;
    color: white;
}

.container{
  height: 600px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 4px solid black;
}
body{
  background-color: rgb(61, 61, 61);
}