.button{
    height: 100px;
    width: 100px;
    border-radius: 30px;
    font-size: 20px;;
}

.button:active{
    background-color: rgb(122, 122, 122);
}
.buttons{
    height: 500px;
    width: 400px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
